/* styles.css */

.my-button {
    background-color: #AF1615;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 16px;
}

.heading {
    color: #003c3c;
}

body {
    font-family: "Helvetica";
    background-color: #732221;
}
