/* styles.css */

.my-button {
    background-color: #AF1615;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 16px;
}

.heading {
    color: #ffffff;
    text-align: center; 
}

body {
    font-family: "Helvetica";
    background-color: #732221;
    color: white;
    text-align: center; 
}

.button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px; /* Add some margin at the top if needed */
}

/* Circle button styles */
.circle-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
}

.circle-button img {
    display: block;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%;
}

.circle-button:hover img {
    filter: brightness(85%); /* Optional: Adds a hover effect to darken the image */
}
